.App-Container {
  text-align: left;
  max-width: 400px;
  margin: auto;
}

.App-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 196, 0);
}

/* profile avatar image */
.profile-avatar {
align-items: left;
max-width: 150px;
max-height: 150px;
list-style-type: none;
}

/* profile image css */
.profile-image {
  max-width: 400px;
  list-style-type: none;
}

.li-container {
  max-width: 400px;
  list-style-type: none;
}

/* field contiainer for bio, status*/
.field-container {
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
  border-radius:6px;
  list-style-type: none;
}

/* Goodbye component container */
.Goodbye-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* button css */
.myButton {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.myButton:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.myButton:active {
	position:relative;
	top:1px;
}